S3method(coef,QRMissingBi)
S3method(coef,QRMissingBiBayes)
S3method(coef,QRMissingBiBayesMix)
S3method(coef,QRMissingBiMixMLE)
S3method(coef,QRMissingUniBayes)
S3method(coef,QRMissingUniBayesMix)
S3method(plot,QRMissingBi)
S3method(plot,QRMissingBiBayes)
S3method(plot,QRMissingBiBayesMix)
S3method(plot,QRMissingBiMixMLE)
S3method(plot,QRMissingUniBayes)
S3method(plot,QRMissingUniBayesMix)
S3method(print,QRMissingBi)
S3method(print,QRMissingBiMixMLE)
S3method(summary,QRMissingBi)
S3method(summary,QRMissingBiBayes)
S3method(summary,QRMissingBiBayesMix)
S3method(summary,QRMissingBiMixMLE)
S3method(summary,QRMissingUniBayes)
S3method(summary,QRMissingUniBayesMix)
export(LLBiMix)
export(LLBiSingle)
export(LLUniSingle)
export(QRMissingBi)
export(QRMissingBiBayes)
export(QRMissingBiBayesMix)
export(QRMissingBiMixMLE)
export(QRMissingBiPure)
export(QRMissingUniBayes)
export(QRMissingUniBayesMix)
export(ToursMNAR)
export(ll2)
export(ll2Mix)
useDynLib(qrmissing)
